#footer {
  background-color: var(--jea-color-dark);
  color: var(--jea-color-white);
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

#footer > div {
  margin-top: var(--jea-margin-s);
}

#footer > div > * {
  padding: 20px;
}

#footer > p > span {
  color: var(--jea-color-tertiary);
  font-weight: 700;
  font-size: 1.1rem;
}

@media (max-width: 880px) {
  #footer > p > span {
    font-size: 0.8rem;
  }
  #footer > p {
    font-size: 0.7rem;
  }
}
